*{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  position: absolute;
  line-height: 1.5;
}

header {
  display: flex;
  justify-content: space-between;
  background-color:rgb(51, 0, 111);
  padding-top: 5px;
  padding-bottom: 5px;
}

h1 {
  font-size: 200%;
  background-color: rgb(235, 176, 50);
  color:rgb(51, 0, 111);
  padding-left: 20px;
}

nav ul {
  display: flex;
  justify-content: space-between;
  min-width: 300px;
  padding: 10px;
  margin-right: 20px;
}

nav a {
  display: row;
  color: rgb(235, 176, 50);
}

banner {
  background-image: url("../css/images/cascade-range.jpg");
  background-size: contain;
  background-position: center;
  height: 100px;
  padding-top: 150px;
  padding-bottom: 10px;
}

banner p {
  float: right;
  background-position: right bottom;
  background-color:rgb(235, 176, 50);
  border: 3px solid black;
  font-size: larger;
  font-weight: bold;
  margin-right: 30px;
  padding: 10px;
}

main {
  display: flex;
}

main p {
  padding-left: 20px;
  margin-right: 75px;
  font-size: large;
}

h3 {
  padding-left: 22px;
  padding-bottom: 330px;
}

.card section {
  display: inline-flex;
  flex-wrap: wrap;
  height: 150px;
  width: 375px;
  border: 3px solid rgb(51, 0, 111);
  color:rgb(235, 176, 50);
  font-size: larger;
  font-weight: bold;
  margin-left: 20px;
  margin-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.card .Surf-Report {
  background-image: url("../css/images/beautiful-waves.jpg");
  width: 820px;
}

.card .LED-Wall {
  background-image: url("../css/images/LED-blocks.jpg");
  background-size: cover ;
}

.card .Calculator {
  background-image: url("../css/images/Calculator.jpg");
  background-size: cover;
}

.card .Pastel-Puzzle {
  background-image: url("../css/images/pastel-colors.jpg");
  color:rgb(51, 0, 111);
}

.card .Run-Buddy {
  background-image: url("../css/images/Run-Buddy-Shoes.jpg");
  background-size: cover;
}

.card:hover .Surf-Report {
  filter: blur(5px);
}

.card .Surf-Report:hover {
  filter: blur(0);
}

h2, h3, h4 {
  color:rgb(51, 0, 111);
  font-size: 300%;
  margin-left: 150px;
  text-align: right;
  padding-right: 20px;
  border-right: 5px solid black;
}


h4 {
  margin-left: 110px;
}

main section p {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-left: 10px;
  border-bottom: 3px solid black;
}
